<!DOCTYPE html/>
<html>
	<head>
		<script src="js/libs/jquery/dist/jquery.js"></script>
		<script src="js/libs/maskerade/jquery.maskerade.js"></script>
		<script src="js/libs/angular/angular.js" ></script>
		<script src="js/app.js" ></script>
		<script src="js/mainController.js" ></script>
		<script src="js/maskeradeDirective.js" ></script>
	</head>
	<body>
	<form name="thisForm" no-validate>
		<div ng-app="app" ng-controller="mainController as main">
			<div>
				<label for="jQueryDate">Selected With jQuery
				<input type="text" class="jqueryDate" id="jQueryDate" name="jQueryDateEntered" ng-model="main.jQueryDateEntered" placeholder="Put Date Here"/></label>
			</div>
			<div>
				<label>main.jQueryDateEntered value: </label>
				<span>{{main.jQueryDateEntered}}</span>
			</div>
			<hr/>
			<div>
				<label for="ngChangeDate">Angular model updated with ngChange
				<input type="text" class="jqueryDate" id="ngChangeDate" name="dateNgChangeEntered" ng-model="main.dateNgChangeEntered" placeholder="Put Date Here"/></label>
			</div>	
			<div>
				<label>main.dateNgChangeEntered value: </label>
				<span>{{main.dateNgChangeEntered}}</span>
			</div>	
			<hr/>	
			<div>
				<label for="directiveDate">Angular Directive Custom Masks
				<span wip-maskerade-directive wip-id="directiveDate" wip-value="main.directiveDateEntered" wip-placeholder="Put Date Here" wip-ng-mask="MM/dd/yyyy" wip-maskerade-mask="mm/dd/yyyy" >
				</span></label>
			</div>
			<div>
				<label>main.directiveDateEntered value: </label>
				<span>{{main.directiveDateEntered}}</span>
			</div>
			<hr/>
		</div>
		<a href="page2.html">page2</a>
		<script type="text/javascript">
			$(document).ready(function (){
			  $(".jqueryDate").maskerade();
			});
		</script>
		</form>
	</body>
</html>